<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="">
	<!-- namespace : 연결할 DAO(==Mapper 인터페이스)의 경로를 작성(필수로 작성!!!)
		 패키지 경로를 포함한 전체 이름으로 작성
	 -->
	
	
	<!-- 아래 태그는 mapper.xml 파일 생성하자마자 삭제!
		 <cache-ref namespace=""/> 
	-->
</mapper>
