<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- Java의 null과 DB은 NULL 다름!
			Java -> DB로 INSERT/UPDATE 시 Java의 null 값을 DB의 NULL로 인식하도록 설정
			
			jdbc 전달받은 값이 "user01" 문자열일때 DB에 INSERT 하는 상황
			pstmt.setString(?, "user01")
			pstmt.set???? (?, null)
		 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		
		<!--  
			DB의 UnderScore(_) 표기법 사용 <-> Java의 CamelCase 서로 변환될 수 있도록 매핑
			
			Java의 필드명(memberId)과 DB 컬럼명(MEMBER_ID)가 서로 연결될 수 있도록 함
		 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>
